* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.select {
  text-align: center;
  margin: 50px;
}

.graphics-box {
  width: 500px;
  margin: auto;
}

#grafico-mesi {
  margin-top: 50px;
}

#grafico-singole-vendite {
  margin-top: 50px;
  margin-bottom: 50px;
}
